[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/Unarelith/tinyxml2
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/glew"]
	path = external/glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "external/SDL2"]
	path = external/SDL2
	url = https://github.com/libsdl-org/SDL
[submodule "external/SDL2_image"]
	path = external/SDL2_image
	url = https://github.com/libsdl-org/SDL_image.git
